/* 공통 */
:root {
  --main-black-color1: #0F172A;
  --main-black-color2: #1E293B;
  --main-skyblue-color: #E2E8F0;
  --main-red-color: #EF4444;
  --dim-color: rgba(0,0,0,0.15);
}
*, *::before, *::after {padding: 0; margin: 0; box-sizing: border-box;}
body, input[type=text], button {font-size: 16px; font-weight: 400; color: var(--main-black-color1);}
h1,h2,h3,h4,h5,h6 {color: var(--main-black-color2); font-weight: 500;}
input, button {border: none; outline: 0;}
button {cursor: pointer; background-color: transparent;}
a {text-decoration: none;}
a:active {color: var(--main-black-color1);}

h3 {font-size: 24px; font-weight: 700; line-height: 1.5;}
strong {font-weight: 700;}

#wrap {max-width: 1152px; margin: 0 auto;}
.text-align-left {text-align: left;}
.text-align-center {text-align: center;}
.text-align-right {text-align: right;}

/* input, button */
.home-login-join {width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;}
.home-login-join > .box {max-width: 360px; width: 100%;}
.home-login-join > .box > * + * {margin-top: 8px;}
.home-login-join > .box > h1 {margin-bottom: 20px;}
.input, .btn {display: flex; justify-content: center; align-items: center; width: 100%; height: 40px; padding: 8px 16px; border-radius: 4px;}
.input {position: relative; color:var(--main-black-color1); border: 1px solid #D4D4D8;}
.input.left {justify-content: flex-start;}
.input.no-border {border: none;}
.input::placeholder {font-size: 16px; color: #6B7280;}
.input.todo, .input.done {padding-left: 0; padding-right: 0;}
.input.todo::before, 
.input.done::before {content: ''; display: inline-block; width: 18px; height: 18px;  border-radius: 6px; margin-right: 10px;}
.input.todo::before {border: 2px solid #475569;}
.input.done::before {background: url('/icons/checkbox.svg') center/100% 100% no-repeat;}

.btn {overflow: visible; display: flex; max-width: 100%; border: 1px solid #94A3B8; color: var(--main-black-color1); }
.btn.center {text-align: center;}
.btn.left {text-align: left; justify-content: flex-start;}
.btn.black {color: #fff; background-color: var(--main-black-color1); border: none;}
.btn.white {color: var(--main-black-color1); background-color: #fff; border-color: #94A3B8;}
.btn.blue {background-color: var(--main-skyblue-color); font-weight: 700; border: none;}
.btn.color-red {color: var(--main-red-color); border-color: var(--main-red-color);}
.btn.other {position: relative; padding-right: 40px;}
.btn.long {display: block;}
.btn.short {display: inline-block; width: auto;}
.btn:has(.ellipsis) {justify-content: space-between;}
.btn .ellipsis {position: relative; margin-left: auto; display: block; width: 24px; height: 24px; background: url('/icons/ellipsis.svg') center/cover no-repeat;}
.ellipsis .pop-ellipsis {padding: 6px 0; z-index: 1; position: absolute; top: 24px; right: 0; width: 155px; height: 86px; border: 1px solid #000; background-color: #fff;}
.pop-ellipsis > *:not(.popup) {display: flex; width: 100%; height: 50%; padding-left: 12px; align-items: center;}

/* login, register */
.input-wrap :is(.input, .btn) {width: 360px;}
.input-wrap > * + * {margin-top: 8px;}
.input-wrap > h1 {margin-bottom: 20px;}
.input-wrap.validation input.validation {border-color: var(--main-red-color);}

/* todo */
.todo-home {padding: 40px 24px; display: flex; gap: 0 16px;}
.todo-home > *:not(.todo-teamList) {flex: 1;}
.todo-home .todo-pending {margin-top: 20px;}
.todo-home .todo-done {margin-top: 40px;}
.todo-home :is(.todo-pending, .todo-done) > * + * {margin-top: 10px;}
.todo-teamList {width: 265px; padding-right: 24px;}
.todo-teamList .active {border: 1px solid var(--main-black-color2);}
.todo-teamList > .btn + .btn {margin-top: 8px;}
.todo-teamList .team {justify-content: flex-start;}
.todo-teamList .create {justify-content: center; border: 1px solid #94A3B8;}
.todo-list {flex: 1;}
.input-btn-row {display: flex; gap: 0 20px;}
.input-btn-row > .input {flex: 1;}
.input-btn-row > .btn-side {flex-shrink: 0;}
.input-btn-row > .btn-side > * + *{margin-left: 4px;}


/* popup */
.popup {z-index: 999; position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; background-color: var(--dim-color);}
.popup-inner {display: flex; flex-direction: column; padding: 24px 20px; width: 100%; max-width: 360px; background-color: #fff; border-radius: 8px;}
.popup-head {display: block; margin-bottom: 20px;}
.popup-body {min-height: 60px;}
.popup-button {margin-top: auto; text-align: right;}
.popup-button > * + * {margin-left: 4px;}